<%- include("layout/_header.ejs") %>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>date</th>
            <th>note</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<posts.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= new Date(posts[i].date).toDateString() %></td>
                <td><%= posts[i].body %></td>
                <td>
                    <a href="/posts/edit/<%= posts[i]._id %>" class="text-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="#" class="text-danger">
                        <i class="bi bi-trash2"></i>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<%- include("layout/_footer.ejs") %>
